/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./components/gameBoard/main.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.row {
    display: flex;
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    background-color: white;
}

/* .cell:hover {
    background-color: lightblue;
    cursor: pointer;
} */

.label {
    width: 22px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.labels {
    display: flex;
}

.gameBoard-main-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.ship-cell{
    background-color: lightgrey;
    border: 1px solid black;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./components/shipsDeploying/main.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.ship-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ship {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    cursor:pointer;
}

.ship.vertical {
    flex-direction: column;
}

.mast {
    width: 20px;
    height: 20px;
    background-color: lightgray;
    border: 1px solid black;
    
}
