.row {
    display: flex;
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    background-color: white;
}

/* .cell:hover {
    background-color: lightblue;
    cursor: pointer;
} */

.label {
    width: 22px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.labels {
    display: flex;
}

.gameBoard-main-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.ship-cell{
    background-color: lightgrey;
    border: 1px solid black;
}