/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./components/playerVsBot/main.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.row {
    display: flex;
}

.label {
    width: 22px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.labels {
    display: flex;
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    background-color: white;
}

.player-cell:hover {
    background-color: lightblue;
    cursor: pointer;
}

.playerVsBot-main-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ship-cell {
    background-color: lightseagreen; /* Zielony kolor dla statków */
}


.hit-cell {
    background-color: #FF0000; /* Czerwony kolor dla trafień */
}

.miss-cell {
    background-color: #808080; /* Szary kolor dla pudł */
}


